header {
  mat-toolbar {
    justify-content: center;

    height: auto;

    padding: 1em 2em;

    img {
      width: 15%;
    }
  }
}

@media(max-width: 700px) {
  header {
    mat-toolbar img {
      width: 25%;
    }
  }
}
