<div>
  <table mat-table [dataSource]="pokemons" *ngIf="!thereArePokemons">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Pokeimage</th>
      <td mat-cell *matCellDef="let element">
        <img class="img-pokemon" [src]="element.image" [alt]="element.name">
      </td>
    </ng-container>

    <!-- Is Favorite Column -->
    <ng-container matColumnDef="isFavorite">
      <th mat-header-cell *matHeaderCellDef>Favorite</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          color="primary"
          [checked]="element.isFavorite"
          (change)="savePokemon(element)"
          [(ngModel)]="element.isFavorite"
        >
          <mat-icon color="accent">{{ element.isFavorite ? 'star' : 'star_border' }}</mat-icon>
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="primary" (click)="goToPokemon(element.id)" style="cursor: pointer;">more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    *ngIf="!thereArePokemons"
    [length]="pageCount"
    [pageIndex]="0"
    [pageSizeOptions]="[5, 10]"
    [pageSize]="10"
    (page)="onPageChanged($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

