<div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field class="pokemon-field">
          <mat-label>Pokemon</mat-label>
          <input
            matInput
            placeholder="Pokemon name"
            type="text"
            formControlName="name"
          >
          <button class="clear" *ngIf="form.controls['name'].value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls['name'].patchValue('')">
            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="searchPokemon()"
        [disabled]="form.invalid"
      >
        Search
      </button>
    </mat-card-actions>
  </mat-card>
  <table mat-table [dataSource]="pokemons" *ngIf="arePokemons">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Pokeimage</th>
      <td mat-cell *matCellDef="let element">
        <img class="img-pokemon" [src]="element.image" [alt]="element.name">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    *ngIf="arePokemons"
    [length]="pageCount"
    [pageIndex]="0"
    [pageSizeOptions]="[5, 10]"
    [pageSize]="10"
    (page)="onPageChanged($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

